.slidebar {
  height: 5px;
  width: var(--bar-width);
  background-color: blue;
  position: relative;
}

.slidebar__control {
  width: 10px;
  height: 10px;
  display: block;
  background-color: red;
  position: absolute;
  top: 0;
  transform: translateY(-2.5px);
}