.search-modal {
  direction: rtl;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  color: var(--clr-primary-5);
  width: 100%;
  margin: 4vmin;
}

.search__icon{
  font-size: 3vw;
  width: 5vw;
  height: 5vw;
  margin: -2vw 2vw;
}

.filters__title {
  font-size: 4vw;
  margin-bottom: 5vw;
}
.search-input {
  width: 100%;
}
.search__input {
  all: unset;
  height: 5vw;
  font-size: 4vw;
}

.search-input hr {
  border: none;
  background-color: var(--clr-primary-5);
  height: 1vw;
  width: 100%;
  margin: 4vw 0;
}

.search__filters {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: ; */
}

.search__filters hr {
  border: none;
  background-color: white;
  height: 1vw;
  margin: 2vw 0;
}

.filters-container {
  display: grid;
  grid-template-columns: 60% auto;
  grid-template-rows: auto auto;
  /* align-items: center; */
}

.filters-price-container {
  display: grid;
  grid-template-columns: 40% auto;
  grid-template-rows: 50% auto;
  align-items: baseline;
}

.search-slider {
  margin-top: 2vw;
}

/* 
==========================
=     PC Media Query     =
==========================
*/
@media screen and (min-width: 1024px) {
  .filters__title {
    font-size: 3vh;
    margin-bottom: 4vh;
  }

  .search__icon{
    font-size: 3vh;
    width: 3vh;
    height: 3vh;
    margin: -1vh 1vh;
  }

  .search__input {
    height: 5vh;
    font-size: 3vh;
  }

  .search-input hr {
    height: 0.5vh;
    margin: 2.5vh 0;
  }

  .search__filters hr {
    height: 0.5vh;
    margin: 2vh 0;
  }

  .filters-container {
    display: grid;
    grid-template-columns: 60% auto;
    grid-template-rows: auto auto;
    /* align-items: center; */
  }

  .filters-price-container {
    display: grid;
    grid-template-columns: 40% auto;
    grid-template-rows: 50% auto;
    align-items: baseline;
  }

  .search-slider {
    margin-top: 2vh;
  }
}
