.search-modal {
  direction: rtl;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  color: var(--clr-primary-5);
  font-size: 5vw;
}

.search-input hr {
  border: none;
  background-color: var(--clr-primary-5);
  height: 1vw;
  width: 110%;
  margin: 4vw 0;
}

.search__filters {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: ; */
}

.search__filters hr {
  border: none;
  background-color: white;
  height: 1vw;
  margin: 4vw 0;
}

.filters-container {
  display: grid;
  grid-template-columns: 10% 60% 10% auto;
  grid-template-rows: auto auto;
}
/* 
.filters-price-container{
  
} */