.agenda-item {
  display: flex;
  flex-direction: column;
  color: var(--clr-primary-5);
  align-items: center;
}

.agenda-item__chapter {
  font-size: 3vw;
}

.agenda-item__middle {
  display: flex;
  justify-content: space-evenly;
}

.agenda-item__middle-details {
  font-size: 3.75vw;
}

.agenda-item__read {
  width: 17vw;
  font-size: 2.75vw;
}

.agenda-item__price {
  margin: auto;
  font-size: 3vw;
}

.agenda-item__line {
  height: 1vw;
  width: 90% ;
  margin-bottom: 7vw;
  border-style: solid;
  color: var(--clr-txt-1);
  background-color: var(--clr-txt-1);
  margin-top: 7vw;
}
