.agenda-item {
  display: flex;
  flex-direction: column;
  color: var(--clr-primary-5);
  align-items: center;
  margin-top: 2vh;
  text-shadow: 0 3px 6px #1b414866;
}

.agenda-item__stars {
  --star-size: 3vmin;
}

.agenda-item :not(.agenda-item__stars, .agenda-item__stars *) {
  margin: 1vh;
}

.agenda-item__middle-dots-pc {
  display: none;
}

.agenda-item__chapter {
  font-size: 3vw;
  margin: 0;
}

.agenda-item__middle {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.agenda-item__middle-details {
  font-size: 3.75vw;
  font-weight: bold;
}

.agenda-item__read {
  width: 17vw;
  height: 5.5vw;
  font-size: 2.75vw;
  cursor: pointer;
}

.agenda-item__price {
  margin: auto;
  font-size: 3vw;
  font-weight: bold;
}

.agenda-item__line {
  height: 1vw;
  width: 90%;
  margin-bottom: 7vw;
  border-style: solid;
  color: var(--clr-txt-1);
  background-color: var(--clr-txt-1);
  margin-top: 7vw;
}

/* 
==========================
=     PC Media Query     =
==========================
*/
@media screen and (min-width: 1024px) {
  .agenda-item {
    margin-top: 4vh;
    margin: 4vh auto 0 auto;
    width: fit-content;
  }
  .agenda-item__chapter {
    font-size: 3.25vh;
  }

  .agenda-item__middle-dots {
    display: none;
  }

  .agenda-item__middle-dots-pc {
    display: flex;
  }

  .agenda-item__middle-details {
    font-size: 4.5vh;
    line-height: 6vmin;
  }

  .agenda-item__read {
    width: 19vh;
    height: 7vh;
    font-size: 2.6vh;
  }

  .agenda-item__price {
    margin: auto;
    font-size: 3.25vh;
  }

  .agenda-item__line {
    height: 0.5vh;
    width: 100%;
    margin-top: 5vh;
    margin-bottom: 5vh;
  }
}
