.agenda-item {
  display: flex;
  flex-direction: column;
  color: var(--clr-primary-5);
  align-items: center;
  margin-top: 2vh;
}

.agenda-item__middle-dots-pc {
  display: none;
}

.agenda-item__chapter {
  font-size: 3vw;
  text-shadow: 0px 1px 2px  var(--clr-primary-5) ;
  
}

.agenda-item__middle {
  display: flex;
  justify-content: space-evenly;
}

.agenda-item__middle-details {
  font-size: 3.75vw;
  font-weight: bold;
  text-shadow: 1px 1px 2.1px  var(--clr-primary-5) ;
  
}

.agenda-item__read {
  width: 17vw;
  font-size: 2.75vw;
}

.agenda-item__price {
  margin: auto;
  font-size: 3vw;
  font-weight: bold;
  text-shadow: 0px 1px 2px  var(--clr-primary-5) ;

  
}

.agenda-item__line {
  height: 1vw;
  width: 90%;
  margin-bottom: 7vw;
  border-style: solid;
  color: var(--clr-txt-1);
  background-color: var(--clr-txt-1);
  margin-top: 7vw;
}

/* 
==========================
=     PC Media Query     =
==========================
*/
@media screen and (min-width: 1024px) {
  .agenda-item {
    margin-top: 4vh;
  }
  .agenda-item__chapter {
    font-size: 3.25vh;
    margin-bottom: 5vh;
    text-shadow: 10vh;
    text-shadow: 1px 1px 2.5px  var(--clr-primary-5) ;
  }

  .agenda-item__middle-dots {
    display: none;
  }

  .agenda-item__middle-dots-pc {
    display: flex;
  }

  .agenda-item__middle-details {
    font-size: 3.5vh;
    text-shadow: 1px 1px 3.3px  var(--clr-primary-5) ;
  }

  .agenda-item__read {
    width: 18vh;
    height: 6vh;
    font-size: 2.6vh;
  }

  .agenda-item__price {
    margin: auto;
    margin-top: 5vh;
    font-size: 3.25vh;
    text-shadow: 1px 1px 2.5px  var(--clr-primary-5) ;
  }

  .agenda-item__line {
    height: 0.5vh;
    width: 63%;
    margin-top: 5vh;
    margin-bottom: 5vh;
  }
}
