.book-view {
  direction: rtl;
  width: 100%;
  height: 100%;
  color: var(--clr-primary-5);

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 2fr 3fr;
  grid-auto-rows: 1fr;
  gap: 10vw 0;
  grid-auto-flow: row;
  margin-bottom: 20vw;
}

.book-view__cover {
  grid-area: 1 / 1 / 2 / 2;
  display: flex;
  justify-content: center;
}
.book-view__cover img {
  width: fit-content;
  height: 100%;
}

.book-view__details {
  grid-area: 2 / 1 / 3 / 2;
  font-size: 4vw;
  display: grid;
  grid-template-columns: 4fr 1fr;
  grid-template-rows: repeat(5, 1fr);
  /* gap: 5vw 0; */
  justify-items: center;
  background-color: var(--clr-white);
  /* padding-top: 4vw; */
  margin: 0 10vw;
  border-top: 1vw solid var(--clr-txt-1);
  border-left: 1vw solid var(--clr-txt-1);
  border-right: 1vw solid var(--clr-txt-1);
  text-shadow: 0 3px 6px #1b414866;
  position: relative;
}

.book-view__details::before,
.book-view__details::after {
  content: '';
  position: absolute;
  width: 5vw;
  height: 5vw;
  top: -2vw;
  background-color: var(--clr-white);
}
.book-view__details::before {
  left: -2vw;
}
.book-view__details::after {
  right: -2vw;
}

.book-view__details *{
  display: flex;
  align-items: center;
}

.book-view__details-price {
  grid-area: 1 / 2 / 2 / 3;
  font-weight: bold;
}
.book-view__details-name {
  grid-area: 1 / 1 / 2 / 2;
  font-weight: bold;
}
.book-view__details-author {
  grid-area: 2 / 1 / 3 / 2;
}
.book-view__details-status {
  grid-area: 3 / 1 / 4 / 2;
}
.book-view__details-chapters {
  grid-area: 4 / 1 / 5 / 2;
}
.book-view__details-stars {
  grid-area: 5 / 1 / 6 / 2;
}

.book-view__actions-chapters,
.book-view__actions-add {
  position: fixed;
  bottom: 27vw;
  height: 9vw;
  width: 27vw;
  font-size: 4vw;
  font-weight: 400;
}
.book-view__actions-chapters {
  left: 15vw;
  background-color: var(--clr-white);
  color: var(--clr-primary-5);
  border: 1vw solid var(--clr-primary-5);
}

.book-view__actions-add {
  right: 25vw;
}
