.login {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 90%;
}

.login__input__icon {
  font-size: 5vw;
  padding: 2vw 0;
  margin-right: 1vw;
}

.login__input {
  --txt-font-size: 4vw;
  --txt-height: 10vw;
  --txt-width: 40vw;
}

.login__submit {
  width: 20vw;
  height: 9vw;
  font-size: 4vw;
}

.login__signup-link {
  font-size: 4vw;
  direction: rtl;
}

/* 
==========================
=     PC Media Query     =
==========================
*/
@media screen and (min-width: 1024px) {
  .login {
    align-self: flex-end;
    align-items: flex-end;
    width: 60%;
    height: 70%;
    margin-right: 5vh;
    /* padding: 5vh 0; */
  }

  .login__input__icon {
    font-size: 4vh;
    padding: 2vh 0;
    margin-right: 1vh;
  }

  .login__input {
    --txt-font-size: 3vh;
    --txt-height: 9vh;
    --txt-width: 36vh;
  }

  .login__submit {
    align-self: center;
    width: 20vh;
    height: 8vh;
    font-size: 4vh;
  }

  .login__signup-link {
    font-size: 3vh;
    direction: rtl;
  }
}
