.login {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 95%;
}

.login__dummy{
  height: 11vw;
}

.login__success{
  font-size: 3vw;
  margin: 2vw 0;
  color: var(--clr-tertiary-5);
  text-shadow: 0 0.1rem 0.3rem #DBA35340;
  /* display: none; */
}

.login__input__icon {
  font-size: 5vw;
  padding: 2vw 0;
  margin-right: 1vw;
}

.login__input {
  --txt-font-size: 4vw;
  --txt-height: 10vw;
  --txt-width: 40vw;
}

.login__submit {
  width: 20vw;
  height: 9vw;
  margin-bottom: -2vw;
  font-size: 4vw;
}

.login__signup-link {
  font-size: 4vw;
  direction: rtl;
}

/* 
==========================
=     PC Media Query     =
==========================
*/
@media screen and (min-width: 1024px) {
  .login {
    align-self: flex-end;
    width: 60%;
    height: 85%;
    margin-right: 5vh;
  }

  .login__dummy{
    height: 11vh;
  }

  .login__success{
    font-size: 3vh;
    margin: 0;
  }
  

  .login__input__icon {
    font-size: 4vh;
    padding: 2vh 0;
    margin-right: 1vh;
  }

  .login__input {
    --txt-font-size: 3vh;
    --txt-height: 9vh;
    --txt-width: 36vh;
  }

  .login__submit {
    align-self: center;
    width: 14vh;
    height: 6vh;
    margin-bottom: -4vh;
    font-size: 3vh;
    text-shadow: 0 0.1rem 0.3rem #ffffff30;
  }

  .login__signup-link {
    font-size: 3vh;
    direction: rtl;
  }
}
