.shelfs-row__header {
  font-size: 3vh;
}

.shelfs-row__header-line {
  height: 1.25vh;
  background-color: black;
}

.shelfs-row__header {
  display: flex;
  justify-content: center;
}

.shelfs {
  margin: 2vh 3vh;
}

.shelfs-row__book {
  display: grid;
  grid-template-columns: auto auto;
  gap: 10vh;
  justify-content: center;
}
