.home-wrapper__container::before,
.home-wrapper__container::after {
  content: '';
  display: block;
  width: 100%;
  height: 20vw;
}

/* 
==========================
=     PC Media Query     =
==========================
*/
@media screen and (min-width: 1024px) {
  .home-wrapper__container::before {
    height: 15vh;
  }
  .home-wrapper__container::after {
    height: 5vh;
  }
}
