.expandable {
  border-radius: 100%;
  background-color: var(--clr-primary-5);
  width: 12vw;
  height: 12vw;
  position: absolute;
  right: 5vw;
  bottom: 25vw;
}
.expandable-icon {
  display: block;
  margin: auto;
  height: 100%;
  font-size: 8vw;
  color: var(--clr-white);
}
