.main {
  height: 100%;
  width: 100%;
  background-image: url('../../images/.main-page-bg__mobile.png');
  background-position: top left;
  background-repeat: no-repeat;
  background-size: auto 50%;
}

.main__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;

  width: 100vw;
  height: 60vw;
  border-radius: 50vw 50vw 0 0;
  background-color: var(--clr-white);
  position: absolute;
  bottom: 0;
}

/* 
==========================
=   Tablet Media Query   =
==========================
*/
/* @media screen and (min-width: 768px) {
} */

/* 
==========================
=     PC Media Query     =
==========================
*/
@media screen and (min-width: 1024px) {
  .main {
    background-image: url('../../images/.main-page-bg__pc.png');
    background-size: auto 100%;
  }

  .main__container {
    align-items: center;
    justify-content: center;
    width: 60vh;
    height: 100vh;
    border-radius: 50vw 0 0 50vw;
    right: 0;
  }
}

/* @media screen and (min-width: 1440px) {
} */
