.landing-page {
  background-image: url('../images/landing-page-bg__mobile.png');
  height: 100%;
  width: 100%;
  background-position: top left;
  background-size: auto 50%;
  background-repeat: no-repeat;
}
.landing-page__container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: column;

  background-color: var(--clr-white);
  width: 100vw;
  height: 60vw;
  border-radius: 50vw 50vw 0 0;
  position: absolute;
  bottom: 0;
}

.landing-page__signup,
.landing-page__login {
  --btn-font-size: 80%;
  /* --btn-width: 6.3rem; */
  --btn-width: 30%;
  /* --btn-height: 2.1rem; */
  --btn-height: 17%;
  /* margin: 0.5rem; */
  margin: 3%;
}
.landing-page__login {
  box-shadow: 0 0.1rem 0.3rem 0 #1b414840;
}

.landing-page__signup {
  background-color: transparent;
  border: 4px solid var(--clr-primary-5);
  box-shadow: inset 0 0.1rem 0.3rem 0 #1b414840, 0 0.1rem 0.3rem 0 #1b414840;
  color: var(--clr-primary-5);
  text-shadow: 0 0.1rem 0.3rem #1b414840;
}

.landing-page__footer {
  display: flex;
  flex-direction: row-reverse;
  /* margin: 1.5rem 0; */
  margin: 8% 0 3% 0;
}

.landing-page__footer-icon {
  width: 1rem;
  margin: 0 0.3rem;
}

.landing-page__footer-text {
  font-size: 1rem;
  color: var(--clr-primary-5);
  text-shadow: 0 0.1rem 0.3rem #1b414840;
}

/* 
==========================
=   Tablet Media Query   =
==========================
*/
@media screen and (min-width: 768px) {
}

/* 
==========================
=     PC Media Query     =
==========================
*/
@media screen and (min-width: 1024px) {
  .landing-page {
    background-image: url('../images/landing-page-bg__pc.png');
    background-size: auto 100%;
  }
  .landing-page__container {
    align-items: flex-end;
    justify-content: center;
    width: 60vh;
    height: 100vh;
    border-radius: 50vw 0 0 50vw;
    right: 0;
    padding-right: 5%;
  }

  .landing-page__signup,
  .landing-page__login {
    --btn-font-size: 170%;
    --btn-width: 60%;
    --btn-height: 10%;
    margin: 3%;
  }

  .landing-page__signup {
    border: 5px solid var(--clr-primary-5);
  }

  .landing-page__footer {
    margin: 10% 0 5% 0;
  }

  .landing-page__footer-icon {
    width: 1.8rem;
    margin: 0 0.5rem;
  }

  .landing-page__footer-text {
    font-size: 1.8rem;
  }
}
@media screen and (min-width: 1440px) {
}
