.landing-page {
  height: 100%;
  width: 100%;
  background-image: url('../images/landing-page-bg__mobile.png');
  background-position: top left;
  background-repeat: no-repeat;
  background-size: auto 50%;
}

.landing-page__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;

  width: 100vw;
  height: 60vw;
  border-radius: 50vw 50vw 0 0;
  background-color: var(--clr-white);
  position: absolute;
  bottom: 0;
}

.landing-page__signup,
.landing-page__login {
  --btn-width: 30vw;
  --btn-height: 11vw;
  --btn-font-size: 5vw;
  margin: 3vw;
}

.landing-page__login {
  box-shadow: 0 0.1rem 0.3rem 0 #1b414840;
}

.landing-page__signup {
  background-color: transparent;
  color: var(--clr-primary-5);
  border: 1.4vw solid var(--clr-primary-5);

  box-shadow: inset 0 0.1rem 0.3rem 0 #1b414840, 0 0.1rem 0.3rem 0 #1b414840;
  text-shadow: 0 0.1rem 0.3rem #1b414840;
}

.landing-page__footer {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;
  margin: 8vw 0 3vw 0;
}

.landing-page__footer-icon {
  color: var(--clr-primary-5);
  font-size: 5vw;
  margin: 0 1.5vw;
}

.landing-page__footer-text {
  color: var(--clr-primary-5);
  font-size: 5vw;
  text-shadow: 0 0.1rem 0.3rem #1b414840;
}

/* 
==========================
=   Tablet Media Query   =
==========================
*/
/* @media screen and (min-width: 768px) {
} */

/* 
==========================
=     PC Media Query     =
==========================
*/
@media screen and (min-width: 1024px) {
  .landing-page {
    background-image: url('../images/landing-page-bg__pc.png');
    background-size: auto 100%;
  }

  .landing-page__container {
    align-items: center;
    justify-content: center;
    width: 60vh;
    height: 100vh;
    border-radius: 50vw 0 0 50vw;
    right: 0;
  }

  .landing-page__signup,
  .landing-page__login {
    --btn-width: 30vh;
    --btn-height: 11vh;
    --btn-font-size: 5vh;
    margin: 3vh;
  }

  .landing-page__signup {
    border: 1.4vh solid var(--clr-primary-5);
  }

  .landing-page__footer {
    margin: 8vh 0 3vh 0;
  }

  .landing-page__footer-icon {
    font-size: 5vh;
    margin: 0 1.5vh;
  }

  .landing-page__footer-text {
    font-size: 5vh;
  }
}

/* @media screen and (min-width: 1440px) {
} */
