.editor {
  width: 90%;
  margin: auto;
  border-radius: 5vmin;
  background-color: var(--clr-secondary-5);
  padding-bottom: 0.1vmin;
}

.editor__toolbar {
  background-color: var(--clr-tertiary-5);
  border-top-left-radius: 5vmin;
  border-top-right-radius: 5vmin;
  height: 5rem;
}
.editor__content {
  height: calc(100vmax - 85vmin);
  margin: 1vmin;
  padding: 2vmin 5vmin;
  border: 1px solid var(--clr-txt-1);
  border-radius: 1vmin 1vmin 5vmin 5vmin;
  overflow: scroll;
}
