.footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;

  width: 100vw;
  height: 20vw;
  background-color: var(--clr-secondary-5);

  position: fixed;
  bottom: 0;

  z-index: 100;
}

.footer-item {
  border: 1vw solid var(--clr-primary-5);
  border-radius: 4vw;
  width: 14vw;
  height: 14vw;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.footer-item__icon {
  font-size: 7vw;
  color: var(--clr-primary-5);
}

.footer-item__title {
  font-size: 2.5vw;
  color: var(--clr-primary-5);
}
