.home {
  background-color: var(--clr-white);
  width: 100vw;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  overflow: scroll;
}

/* Hide scrollbar */
.home::-webkit-scrollbar {
  display: none; /* Chrome, Safari and Opera */
}

.home {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
