.star-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  color: var(--clr-tertiary-5);
  /* font-size: 2.5vw; */
  font-size: var(--star-size);
  /* height: 6vw; */
  height: calc(6 / 2.5 * var(--star-size));
}

.star-container * {
  margin: 0 calc(0.04 * var(--star-size));
}

.star-3 {
  width: calc(5 * var(--star-size));
}
.star-4 {
  width: calc(6 / 2.5 * var(--star-size));
}
.star-5 {
  width: calc(11 / 2.5 * var(--star-size));
}
.star-5 * {
  margin: 0 calc(0.2 * var(--star-size));
}

/* 
==========================
=     PC Media Query     =
==========================
*/
@media screen and (min-width: 1024px) {
  .star-container {
    /* font-size: 1.5vh; */
    height: calc(5 / 1.5 * var(--star-size));
  }

  .star-container * {
    margin: 0 calc(1 / 15 * var(--star-size));
  }

  .star-3 {
    width: calc(6 * var(--star-size));
  }
  .star-4 {
    width: calc(5 / 1.5 * var(--star-size));
  }
  .star-5 {
    width: calc(8 / 1.5 * var(--star-size));
  }
  .star-5 * {
    margin: 0 calc(1 / 3 * var(--star-size));
  }
}
