.book__star-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  color: var(--clr-tertiary-5);
  font-size: 2.5vw;
  height: 6vw;
}

.book__star-container * {
  margin: 0 0.1vw;
}

.book__star-3 {
  width: 10vw;
}
.book__star-4 {
  width: 6vw;
}
.book__star-5 {
  width: 11vw;
}
.book__star-5 * {
  margin: 0 0.5vw;
}

/* 
==========================
=     PC Media Query     =
==========================
*/
@media screen and (min-width: 1024px) {
  .book__star-container {
    font-size: 1.5vh;
    height: 5vh;
  }

  .book__star-container * {
    margin: 0 0.1vh;
  }

  .book__star-3 {
    width: 9vh;
  }
  .book__star-4 {
    width: 5vh;
  }
  .book__star-5 {
    width: 8vh;
  }
  .book__star-5 * {
    margin: 0 0.5vh;
  }
}
