.button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: var(--btn-width);
  height: var(--btn-height);
  background-color: var(--clr-primary-5);
  color: var(--clr-white);
  border: none;
  border-radius: 16px;
  font-size: var(--btn-font-size);
  cursor: pointer;
}


/* 
==========================
=     PC Media Query     =
==========================
*/
@media screen and (min-width: 1024px) {
  .button {
    border-radius: 40px;
  }
}