.button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: var(--btn-width);
  height: var(--btn-height);
  background-color: var(--clr-primary-5);
  color: var(--clr-white);
  border: none;
  border-radius: 16% / 50%;
  font-size: var(--btn-font-size);
  cursor: pointer;
}