.code {
  direction: ltr;
  margin: 2vmax 6vmax;
  display: block;
  font-size: 2.5vmin;
}

.code * {
  font-family: monospace;
}

.code-line__number {
  margin-right: 1vh;
  padding: 0 1vh;
  border-right: 0.3vmin solid #66666666;
  color: #66666677;
}
