.main-page {
  background-color: var(--clr-white);
  width: 100vw;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  overflow: scroll;
}

.main-page::before,
.main-page::after {
  content: '';
  width: 100%;
  height: 20vw;
}
