.search-items__bookname {
  font-size: 1.5vh;
  line-height: 1.7vh;
  font-weight: bold;
  color: var(--clr-primary-5);
  width: 10vh;
  word-wrap: break-word;
  max-height: 3.4vh;
  overflow: hidden;
}

.search-items__authorname {
  font-size: 1vh;
  color: var(--clr-primary-5);
  width: 10vh;
  word-wrap: break-word;
  overflow: hidden;
  max-height: 1.1vh;
  line-height: 1.2vh;
}

.search-items__text {
  display: flex;
  flex-direction: column;
  gap: 1vh;
  margin-top: 1vh;
  margin-right: 1vh;
}

.search-items {
  display: flex;
  justify-content: space-between;
  background-color: #74644415;
  border-radius: 2vh;
  margin-top: 2vh;
  padding: 0.75vh 0.75vh;
  width: 30vh;
}

.search-items:hover {
  outline: 0.75vh solid var(--clr-white);
}

.search-items__image {
  width: 7.5vh;
  height: 8vh;
  border-radius: 1vh;
}

.search-item__details {
  display: flex;
  padding-right: 0.5vh;
}

.search-item__stars {
  align-self: center;
}
