.search-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  border-radius: 4vmin;
  padding: 2vmin;
  background-color: #74644415;
}

.search-items:hover {
  outline: 1vmin solid var(--clr-white);
  outline-offset: -1vmin;
}

.search-item__details {
  display: flex;
  align-items: center;
  column-gap: 5%;
  width: 80%;
}

.search-items__image {
  width: 25%;
  height: 14vmin;
  object-fit: cover;
  object-position: center;
  border-radius: 2vmin;
}

.search-items__text {
  display: flex;
  flex-direction: column;
  gap: 1vmax;
  width: 70%;
  color: var(--clr-primary-5);
}

.search-items__book-name {
  font-size: 4vmin;
  font-weight: bold;
  word-wrap: break-word;
  --search-txt-line-hight-book: 4vmin;
  line-height: var(--search-txt-line-hight-book);
  max-height: calc(2 * var(--search-txt-line-hight-book));
  overflow: hidden;
}

.search-items__author-name {
  font-size: 3vmin;
  word-wrap: break-word;
  --search-txt-line-hight-author: 3vmin;
  line-height: var(--search-txt-line-hight-author);
  max-height: calc(2 * var(--search-txt-line-hight-author));
  overflow: hidden;
}

.search-item__stars {
  width: 20%;
}
