.double-slider {
  width: 100%;
}

.noUi-target {
  background: var(--clr-txt-1) !important;
  border-radius: 1vw !important;
  border: 1px solid var(--clr-txt-1) !important;
  box-shadow: none !important;
}

.noUi-horizontal {
  height: 1vw !important;
}
.noUi-base {
  background: var(--clr-txt-1) !important;
}

.noUi-connect {
  background: var(--clr-txt-1) !important;
}

.noUi-handle::before,
.noUi-handle::after {
  content: none !important;
}
.noUi-handle {
  background: var(--clr-txt-1) !important;
  border-radius: 50% !important;
  width: 3vw !important;
  height: 3vw !important;
  box-shadow: none !important;
  left: 0 !important;
  right: 0 !important;
  top: -1.4vw !important;
  border: none !important;
}

.noUi-origin {
  left: unset !important;
  right: -1vw !important;
}
/* 
.noUi-tooltip {
  bottom: unset !important;
  border: none !important;
  background: unset !important;
  color: unset !important;
  font-size: 4vw;
  font-family: "Shabnam" !important;
} */
