.add-book {
  background: linear-gradient(#ffffff45, #ffffff45),
    url('../../images/adbook-l.png');
  background-position: 75%;
  background-size: cover;
  width: 100%;
  height: 75vmax;
  margin: auto;
  border-radius: 3vmin;
  padding: 4vmin;
  color: var(--clr-primary-5);
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.add-book__cover {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.add-book__cover-image {
  object-fit: cover;
  width: 30vmin;
  height: 45vmin;
  background-color: var(--clr-white);
  border: 0.7vmin solid var(--clr-primary-5);
  border-radius: 1vmax;
}

.add-book__cover-text {
  font-size: 4vmin;
  text-align: center;
}

.add-book__title {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 5vmin;
}

.add-book__title-text {
  font-size: 4vmin;
}

.add-book__title-input {
  background-color: var(--clr-white) !important;
  --txt-inp-width: 40vmin;
  --txt-inp-height: 12vmin;
}

.add-book__next {
  display: flex;
  align-items: center;
  column-gap: 2vmin;
  font-size: 4vmin;
  font-weight: bold;
  color: var(--clr-primary-5);
  text-decoration: none;
}
