.navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;

  width: 100vw;
  height: 15vw;
  background-color: var(--clr-white);

  position: fixed;
  top: 0;

  z-index: 100;
}

.navbar__search {
  width: 15vw;

  font-size: 4vw;
  color: var(--clr-primary-5);
}

.navbar__text {
  font-size: 3vw;
  color: var(--clr-primary-5);
}

.navbar__img {
  background-image: url('../../../images/navbar-colorful-books.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;

  width: 15vw;
  height: 100%;
}

/* 
==========================
=     PC Media Query     =
==========================
*/
@media screen and (min-width: 1024px) {
  .navbar {
    flex-direction: row-reverse;
    width: 100vw;
    height: 13vh;
    left: 0;

    background-color: var(--clr-secondary-5);
  }

  .navbar__search {
    width: 5vh;
    font-size: 3vh;
  }

  .navbar__text {
    font-size: 3vh;
    width: 90%;
    text-align: center;
  }

  .navbar__img {
    position: fixed;
    bottom: 0;
    left: 0;

    width: 20vh;
    height: 14vh;

  }
}
