.dots {
  border-radius: 100%;
  background-color: var(--clr-tertiary-5);
  height: 2vw;
  width: 2vw;
  display: inline-block;
  margin: 0.5vw
}

.dots-container {
  display: flex;
  justify-content: space-between;
  width: 39vw;
  margin-top: 1vw;
}
