.dot {
  border-radius: 100%;
  background-color: var(--clr-tertiary-5);
  height: 2vw;
  width: 2vw;
  display: inline-block;
  margin: 0.5vw;
}

.dot__container {
  display: flex;
  justify-content: space-between;
}

/* 
==========================
=     PC Media Query     =
==========================
*/
@media screen and (min-width: 1024px) {
  .dot__container {
    margin-top: 0;
  }

  .dot {
    height: 1.5vh;
    width: 1.5vh;
  }
}
