.search-result {
  width: 100%;
  color: var(--clr-primary-5);
}

.search-result__results {
  overflow: scroll;
  min-height: fit-content;
  max-height: 50vh;
  display: flex;
  flex-direction: column;
  row-gap: 2vmax;
}
