.chapter-button {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 98%;
  height: 14vmin;
  background: #ffffff80;
  border-radius: 8vmin;
  margin: 1vmin auto 11vmin auto;
  padding: 3vmin;
  font-size: 4vmin;
  font-weight: bold;
  text-decoration: none;
  color: var(--clr-primary-5);
}

.chapter-button:hover {
  outline: 0.7vmin solid var(--clr-primary-5);
  background: #ffffffcc;
}

.chapter-button__dash {
  width: 3.25vmin;
  height: 0.75vmin;
  margin-left: 2vmin;
  background-color: var(--clr-primary-5);
}

.chapter-button__number {
  flex: 1;
}

/* 
==========================
=     PC Media Query     =
==========================
*/
@media screen and (min-width: 1024px) {
  .chapter-button {
    height: 5.5vmax;
    border-radius: 2vmax;
    margin: 0.5vmax auto 1.6vmax auto;
    padding: 2.5vmax;
    font-size: 1.6vmax;
  }

  .chapter-button:hover {
    outline: 0.3vmax solid var(--clr-primary-5);
  }

  .chapter-button__dash {
    width: 1.5vmax;
    height: 0.3vmax;
    margin-left: 1vmax;
  }
}
