.chapter-button {
  height: 14vw;
  width: 95%;
  border-radius: 50vw;
  background: #ffffff80;
  margin-left: 2vw;
  margin-right: 2vw;
  margin-bottom: 5vw;
  margin-top: 2vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3vw;
}

.chapter-button__dash {
  margin-left: 1vw;
  width: 3.25vw;
  height: 0.75vw;
  background-color: var(--clr-primary-5);
}

.chapter-button__number {
  font-size: 4vw;
  color: var(--clr-primary-5);
  flex: 5;
}

.chapter-button__price {
  font-size: 4vw;
  color: var(--clr-primary-5);
  font-weight: bold;
}

.chapter-button:hover {
  outline: 0.7vw solid var(--clr-primary-5);
}

/* 
==========================
=     PC Media Query     =
==========================
*/
@media screen and (min-width: 1024px) {
  .chapter-button {
    height: 13vh;
    width: 95%;
    margin-top: 1.2vw;
  }

  .chapter-button__dash {
    width: 1.6vw;
    height: 0.27vw;
  }

  .chapter-button__number {
    font-size: 1.6vw;
  }

  .chapter-button__price {
    font-size: 1.6vw;
  }

  .chapter-button:hover {
    outline: 0.28vw solid var(--clr-primary-5);
  }
}
