.main__container {
  height: 80vw;
}
.login__back {
  display: flex;
  flex-direction: row-reverse;
  align-self: center;
}

.login__back * {
  color: var(--clr-primary-5);
  margin: 0.5vw;
  font-size: 3vw;
  text-shadow: 0 0.1rem 0.3rem #1b414840;
}
.login__back__icon {
  font-size: 4vw;
}

.login__success {
  display: none;
}

/* 
==========================
=     PC Media Query     =
==========================
*/
@media screen and (min-width: 1024px) {
  .main__container {
    height: 100vh;
  }
  .login__back * {
    margin: 0.5vh;
    font-size: 3vh;
  }
  .login__back__icon {
    font-size: 4vh;
  }
}
