:root {
  --clr-secondary-5: #d8d9d4;
  --clr-primary-5: #1b4148;
  --clr-white: #fff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Shabnam';
}

.App {
  width: 100%;
  height: 100vh;
  background-color: var(--clr-secondary-5);
}
