:root {
  --clr-primary-5: #1b4148;
  --clr-secondary-5: #F3EBE3;
  --clr-tertiary-5: #dba353;
  --clr-txt-1: #746444;
  --clr-white: #fff;

  --clr-error: #dd2c31;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Shabnam';
}

.App {
  width: 100%;
  height: 100vh;
  background-color: var(--clr-white);
}
