@font-face {
  font-family: Shabnam;
  src: url("../node_modules/shabnam-font/dist/Shabnam.eot");
  src: url("../node_modules/shabnam-font/dist/Shabnam.eot?#iefix")
      format("embedded-opentype"),
    url("../node_modules/shabnam-font/dist/Shabnam.woff2") format("woff2"),
    url("../node_modules/shabnam-font/dist/Shabnam.woff") format("woff"),
    url("../node_modules/shabnam-font/dist/Shabnam.ttf") format("truetype");
  font-weight: normal;
}

@font-face {
  font-family: Shabnam;
  src: url("../node_modules/shabnam-font/dist/Shabnam-Bold.eot");
  src: url("../node_modules/shabnam-font/dist/Shabnam-Bold.eot?#iefix")
      format("embedded-opentype"),
    url("../node_modules/shabnam-font/dist/Shabnam-Bold.woff2") format("woff2"),
    url("../node_modules/shabnam-font/dist/Shabnam-Bold.woff") format("woff"),
    url("../node_modules/shabnam-font/dist/Shabnam-Bold.ttf") format("truetype");
  font-weight: bold;
}

@font-face {
  font-family: Shabnam;
  src: url("../node_modules/shabnam-font/dist/Shabnam-Thin.eot");
  src: url("../node_modules/shabnam-font/dist/Shabnam-Thin.eot?#iefix")
      format("embedded-opentype"),
    url("../node_modules/shabnam-font/dist/Shabnam-Thin.woff2") format("woff2"),
    url("../node_modules/shabnam-font/dist/Shabnam-Thin.woff") format("woff"),
    url("../node_modules/shabnam-font/dist/Shabnam-Thin.ttf") format("truetype");
  font-weight: 100;
}

@font-face {
  font-family: Shabnam;
  src: url("../node_modules/shabnam-font/dist/Shabnam-Light.eot");
  src: url("../node_modules/shabnam-font/dist/Shabnam-Light.eot?#iefix")
      format("embedded-opentype"),
    url("../node_modules/shabnam-font/dist/Shabnam-Light.woff2") format("woff2"),
    url("../node_modules/shabnam-font/dist/Shabnam-Light.woff") format("woff"),
    url("../node_modules/shabnam-font/dist/Shabnam-Light.ttf")
      format("truetype");
  font-weight: 300;
}

@font-face {
  font-family: Shabnam;
  src: url("../node_modules/shabnam-font/dist/Shabnam-Medium.eot");
  src: url("../node_modules/shabnam-font/dist/Shabnam-Medium.eot?#iefix")
      format("embedded-opentype"),
    url("../node_modules/shabnam-font/dist/Shabnam-Medium.woff2")
      format("woff2"),
    url("../node_modules/shabnam-font/dist/Shabnam-Medium.woff") format("woff"),
    url("../node_modules/shabnam-font/dist/Shabnam-Medium.ttf")
      format("truetype");
  font-weight: 500;
}

:root {
  --clr-secondary-5: #d8d9d4;
  --clr-primary-5: #1b4148;
  --clr-white: #fff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Shabnam";
}

