.book {
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  --star-size: 3vmin;
  color: var(--clr-primary-5);
}

.book:hover {
  outline: 0.4vh solid var(--clr-txt-1);
  outline-offset: -0.3vh;
  border-radius: 2vh;
}

.book__img {
  background-color: var(--clr-white);
  width: 20vw;
  height: 27vw;
  border-radius: 3vw;
  border: none;
  margin: 2vw 0;
}

.book__container {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.book__title {
  font-size: 3.5vw;
}

.book__price {
  font-size: 3.5vw;
}

.book__state {
  /* margin: 3vw; */
  /* width: 5vw; */
  height: 10vw;
}
.book__edit {
  font-size: 4vw;
}

.book__done {
  font-size: 7vw;
}

/* 
==========================
=     PC Media Query     =
==========================
*/
@media screen and (min-width: 1024px) {
  .book {
    display: flex;
    flex-direction: row-reverse;
    width: 34vh;
    --star-size: 2vmin;
  }

  .book__img {
    width: 50%;
    height: 26vh;
    border-radius: 3vh;
    margin: 0;
  }

  .book__title {
    font-size: 2.5vh;
  }

  .book__price {
    font-size: 2.5vh;
  }

  .book__state {
    height: 9vh;
  }
  .book__edit {
    font-size: 3vh;
  }

  .book__done {
    font-size: 6vh;
  }
}
