.add-chapter {
  background: linear-gradient(#ffffff80, #ffffff80),
    url('../../images/adbook-l.png');
  background-position: 75%;
  background-size: cover;
  width: 100%;
  height: 75vmax;
  border-radius: 3vmin;
  padding: 5vmin;
  padding-bottom: 0;
}

.add-chapter__chapter-container {
  overflow: scroll;
  height: 85%;
}

.add-chapter__controls {
  height: 15%;
  display: grid;
  place-items: center;
}

.add-chapter__confirm-button {
  width: 26vmin;
  height: 11vmin;
  border-radius: 3.5vmin;
  font-size: 3.5vmin;
  font-weight: bold;
  /* max-height: 100%; */
}

/* 
==========================
=     PC Media Query     =
==========================
*/
@media screen and (min-width: 1024px) {
  .add-chapter {
    background-position: 100%;
    height: 65vmin;
    border-radius: 1vmin;
    padding: 3vmin;
    padding-bottom: 0;
  }

  .add-chapter__chapter-container {
    height: 80%;
  }

  .add-chapter__controls {
    height: 20%;
  }

  .add-chapter__confirm-button {
    width: 10vmax;
    height: 4vmax;
    border-radius: 0.8vmax;
    font-size: 1.7vmax;
  }
}
