.chapter-view__content {
  width: 90%;
  margin: auto;
  padding: 3vmin 6vmin;
  border-radius: 5vmin;
  background-color: var(--clr-secondary-5);
  color: var(--clr-txt-1);
  user-select: none;
}

.chapter-view__details {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.chapter-view__icon {
  height: 8vmin;
}

.chapter-view__title {
  font-size: 3.5vmin;
  font-weight: bolder;
}

.chapter-view__chapter {
  font-size: 3vmin;
}

.chapter-view__text {
  height: calc(100vmax - 80vmin);
  font-size: 5vmin;
  overflow: scroll;
}

/* Hide scrollbar */
.chapter-view__text::-webkit-scrollbar {
  display: none; /* Chrome, Safari and Opera */
}

.chapter-view__navigate {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 55%;
  margin: auto;
  margin-top: 6vmin;
  font-weight: bolder;
}
.chapter-view__navigate * {
  text-decoration: none;
  color: var(--clr-primary-5);
  font-size: 4.5vmin;
}

.chapter-view__navigate *:hover {
  text-decoration: underline;
}

.dots-mobile {
  margin: 2vmin 0;
}

.dots-pc {
  display: none !important;
}

/* 
==========================
=     PC Media Query     =
==========================
*/
@media screen and (min-width: 1024px) {
  .chapter-view__content {
    border-radius: 3vmin;
    /* padding: 3vmin 9vmin; */
    margin-top: 3vmin;
  }

  .chapter-view__icon {
    height: 7vmin;
  }

  .chapter-view__title {
    font-size: 4vmin;
  }

  .chapter-view__chapter {
    font-size: 3vmin;
  }

  .chapter-view__text {
    height: 50vmin;
    font-size: 4vmin;
    overflow: scroll;
  }

  .chapter-view__navigate {
    width: 60%;
    margin: auto;
    margin-top: 4vmin;
  }
  .chapter-view__navigate * {
    font-size: 5vmin;
  }
  .dots-pc {
    padding: 1vmin 0;
    display: flex !important;
  }
  .dots-mobile {
    display: none !important;
  }
}
